input[type=image],
input[type=text],
input[type=date],
input[type=time],
textarea,
select,
.input {
    background-color: white;
    border-radius: 10px;
    overflow-y: hidden;
    transition: 0.3s;
    padding: 5px;
    border: none;

    &:disabled {
        background-color: transparent;
        color: #000000;
    }
}

input[type=submit],
.button,
button {
    box-shadow: 0 0 10px rgba(#000000, 0.1);
    background-color: $orange;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    padding: 10px;
    border: none;
    display: inline-block;

    &:active,
    &:disabled {
        box-shadow: none;
    }

    &:not(:disabled):active {
        background-color: darken($orange, 10%);
        transform: scale(90%);
    }

    &:disabled {
        background-color: darken($orange, 30%);
        color: gray;
    }
}

.square {
    aspect-ratio: 1 / 1;
}

.limiter {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

label, .lbl{
    font-size: 0.8em;
}

.itemForm {
    width: 100%;

    label {
        width: 100%;
    }

    &:not(.line) {

        input,
        select,
        textarea {
            width: 100%;
        }
    }
}

.buttons {
    display: flex;
    justify-content: right
}

.form {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

datalist {
    display: block;
    height: 0;
}

.list {
    gap: 2px;
    display: flex;
    padding: 5px;
    flex-direction: column;

    .item-list {
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        padding: 5px;

        &.dark {
            background-color: rgba($orange, 0.2);
        }
    }
}

.pointer {
    cursor: pointer;
}