#campo-pesquisa {
    max-width: 500px;
    margin-inline: auto;

    &>*:not(:last-child) {
        margin-bottom: 20px;
    }

    &>div:first-child {
        width: 100%;
        display: flex;

        input {
            height: 30px;
        }

        :first-child {
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        :last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

#anuncio-panel {
    gap: 10px;

    #left-panel {
        width: 20%;

        &>img{
            width: 100%;
        }
    }

    #right-panel {
        width: 80%;
        padding: 10px;
    }
}