@import "./imp/var.scss";
@import "./imp/element.scss";
@import "./imp/display.scss";
@import "./imp/header.scss";
@import "./imp/texto.scss";
@import "./imp/anuncio.scss";
@import "./imp/perfil.scss";

* {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: rgb(240, 240, 240);
    &.forms{
        background-color: $orange;
    }
}

main {
    min-height: 100vh;

    .content-box {
        margin: 25px 0;
    }

    &.forms{
        width: 100%;
        background-color: $orange;
    }
}

.meia-tela{
    width: 50%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
}



header .limiter, #account, header #campo-navegacao, #account img{
    height: 100%;
}

.miniAnuncio{
    padding:10px;
}
.miniAnuncio .images {
    width: 30%;
}

#message{
    border-radius: 10px;
    max-width: 300px;
    padding: 10px;
    color: white;
    position: fixed;
    top: calc($alt-header + 10px);
    right: -100%;

    &.error{
        background-color: red;
    }
    &.success{
        background-color: green;
    }
}

.padding-top{
    padding-top: 10px;
}

.add-button{
    transition: .3s;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: 600px) {
    .meia-tela{
        width: 100%;
        min-height: auto;
    }

    #anuncio-panel {
        flex-wrap: wrap;

        #left-panel,
        #right-panel {
            width: 100%;
        }
    }
}

tab-list{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    tab{
        display: block;
        padding: 10px;
        transition: 0.3s;
        a{
            color: black;
        }
        &[selected=true]{
            border-bottom: 2px solid $orange;
        }
        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}